<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <!-- <img src="assets/img/logo-savjee.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    &nbsp;MIMICOIN
  </a>

  <div>
    <button routerLink="/new/transaction/pending" class="btn btn-outline-light" *ngIf="thereArePendingTransactions()">
      보류 중인 트랜잭션
      <span class="badge badge-light">{{blockchain.pendingTransactions.length}}</span>
    </button>
    &nbsp;
    <button routerLink="/wallet-balance" class="btn btn-outline-light">
      지갑
    </button>
    &nbsp;
    <button routerLink="/settings" class="btn btn-outline-light">
      설정
    </button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-light">
      트랜잭션 생성
    </button>
  </div>
</nav>

<br>

<div class="container" *ngIf="showInfoMessage === true">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">MIMI곱창</h4>
    곱창에 진심인 남자들... 프로젝트 끝나면 곱창에 소주 먹을 생각에 설레누...
    <hr>
    <!-- <a href="https://github.com/Savjee/savjeecoin-frontend">Source code</a> - Based on <a
      href="https://github.com/SavjeeTutorials/SavjeeCoin">my Javascript blockchain</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissInfoMessage()">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
</div>

<router-outlet></router-outlet>

<footer class="text-muted text-center" style="margin-top: 150px;">
  <small>MIMICOIN<br>
    <a href="https://github.com/MiMigibletss" target="_blank">미미곱창</a></small>
</footer>